
{port_specs, [{"priv/cbin/erl_i2c_cnode", ["c_src/erl_i2c_cnode.c"]}]}.

% for detais see rebar/src/rebar_port_compiler.erl
{port_env, [
	{"CC", "gcc"},
	{"CFLAGS", "$CFLAGS -O2 -Wall"},
	{"LDFLAGS", "$LDFLAGS -lpthread -lnsl"}
]}.
{sub_dirs, ["rel"]}.

{erl_opts, []}.

{edoc_opts, [
	{subpackages, true}
	,{todo, true}
	,{private, true}
	,{hidden, true}
	,{preprocess, true}
	,{includes, ["include"]}
]}.

{post_hooks, [
% not longer using these to compile c-source
%	{compile, "./scripts/rebar-post-script"}
]}.

%% vim: ft=erlang shiftwidth=2 tabstop=2 softtabstop=2

